body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #ffff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

/* main */
.container {
  min-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}

/* header */
.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header .logo {
  padding: 16px 0;
  display: block;
}

.logo,
.logo-footer {
  display: inline-block;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.logo-part {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.address,
.nav .list {
  display: none;
}

.btn-mob-menu {
  cursor: pointer;
  background-color: transparent;
  border: none;
  padding: 0;
  line-height: 0;
  margin-left: auto;
}

.btn-mob-icon {
  fill: #2f2f37;
  display: block;
}

.mobile-menu {
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 72px 153px 40px 16px;
  background-color: #fcfcfc;
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transform: translateX(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
  transform: translateX(0%);
}

.btn-close-mob {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 24px;
  right: 24px;
  border-radius: 50%;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.1);
  fill: #2e2f42;
  padding: 0;
}

.mob-nav-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: 168px;
}

.item-mob-link {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.item-mob-link.current {
  color: #404bbf;
}

.list-mob {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 48px;
}

.address-link-mob {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
  font-style: normal;
  white-space: nowrap;
}

.address-item-mob:first-child .address-link-mob {
  color: #404bbf;
}

.social-links-mob {
  display: flex;
  gap: 40px;
}

.social-link-mob a {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: center;
  background-color: #4d5ae5;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link-mobile .social-icon-mob {
  fill: #f4f4fd;
}

@media screen and (min-width: 768px) {
  .btn-mob-menu {
    display: none;
  }
  .mobile-menu {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 1157px) {
  .header .logo {
    padding: 24px 0;
  }

  .nav {
    display: flex;
    align-items: center;
  }

  .nav .list {
    display: flex;
    align-items: center;
    gap: 40px;
  }

  .nav .list-link {
    position: relative;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    display: block;
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .nav .list-link:hover,
  .nav .list-link:focus,
  .list-link.current {
    color: #404bbf;
  }

  .list-link::after {
    content: '';
    position: absolute;
    left: 0px;
    bottom: -1px;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #404bbf;
    opacity: 0;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .list-link:hover::after,
  .list-link:focus::after,
  .list-link.current::after {
    opacity: 1;
  }

  .address {
    display: block;
    font-style: normal;
  }

  .address .list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
  }

  .address-link {
    font-family: inherit;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: inherit;
    display: inline-block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .address-link:hover,
  .address-link:focus {
    color: #404bbf;
  }
}

@media screen and (min-width: 1158px) {
  .header .logo {
    padding: 24px 0;
    margin-right: 76px;
  }

  .nav {
    display: flex;
    align-items: center;
    margin-right: auto;
  }

  .nav .list {
    display: flex;
    justify-content: center;
    gap: 40px;
  }

  .nav .list-link {
    position: relative;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    display: inline-block;
    padding-top: 24px;
    padding-bottom: 24px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .nav .list-link:hover,
  .nav .list-link:focus,
  .list-link.current {
    color: #404bbf;
  }

  .list-link::after {
    content: '';
    position: absolute;
    left: 0px;
    bottom: -1px;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #404bbf;
    opacity: 0;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .list-link:hover::after,
  .list-link:focus::after,
  .list-link.current::after {
    opacity: 1;
  }

  .address {
    font-style: normal;
    display: block;
    margin-left: auto;
  }

  .address .list {
    display: flex;
    gap: 40px;
    flex-direction: row;
    align-items: center;
  }

  .address-link {
    padding-top: 24px;
    padding-bottom: 24px;
    font-family: inherit;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: inherit;
    display: inline-block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .address-link:hover,
  .address-link:focus {
    color: #404bbf;
  }
}

/* section Hero */

.hero {
  margin: 0 auto;
  display: flex;
  padding: 72px 0;
  background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url(../images/section-1/bg-mobile.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media screen and (max-width: 767px) and (min-resolution: 2x) {
  .hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url(../images/section-1/bg-mobile@2x.jpg);
  }
}

.hero-title {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #fff;
  max-width: 216px;
  margin-bottom: 36px;
}

.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero-button {
  font-family: inherit;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: #4d5ae5;
  min-width: 169px;
  min-height: 56px;
  border: none;
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}

@media screen and (min-width: 768px) and (max-width: 1157px) {
  .hero {
    padding: 112px 0;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url(../images/section-1/bg-tablet.jpg);
  }

  @media screen and (min-width: 768px) and (max-width: 1157px) and (min-resolution: 2x) {
    .hero {
      background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url(../images/section-1/bg-tablet@2x.jpg);
    }
  }

  .hero-title {
    font-size: 56px;
    line-height: 1.07;
    color: #fff;
    max-width: 496px;
    margin-bottom: 36px;
  }
}

@media screen and (min-width: 1158px) {
  .hero {
    padding: 188px 0;
    max-width: 1440px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url(../images/section-1/bg-desktop.jpg);
  }

  @media screen and (min-width: 1158px) and (min-resolution: 2x) {
    .hero {
      background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url(../images/section-1/bg-desktop@2x.jpg);
    }
  }

  .hero-title {
    font-size: 56px;
    line-height: 1.07;
    color: #fff;
    max-width: 496px;
    margin-bottom: 48px;
  }

  .hero-button {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .hero-button:hover,
  .hero-button:focus {
    background-color: #404bbf;
  }
}

/* section About us */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.icon-item {
  display: none;
}

.about-us {
  padding: 96px 0;
}

.about-us-list {
  display: block;
}

.about-us-item {
  width: 100%;
}

.about-us-item:not(:last-child) {
  margin-bottom: 72px;
}

.about-us-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}

.about-us-p {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

@media (min-width: 768px) and (max-width: 1157px) {
  .about-us {
    padding: 96px 0;
  }

  .about-us-list {
    display: flex;
    row-gap: 72px;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .about-us-item {
    width: calc((100% - 48px) / 2);
  }

  .about-us-item:not(:last-child) {
    margin-bottom: 0;
  }

  .about-us-title {
    text-align: start;
  }
}

@media screen and (min-width: 1158px) {
  .about-us {
    padding: 120px 0;
  }
  .about-us-list {
    display: flex;
    gap: 24px;
  }

  .about-us-item {
    width: calc((100% - 72px) / 4);
  }

  .about-us-item:not(:last-child) {
    margin-bottom: 0;
  }

  .about-us-title {
    text-align: start;
  }

  .icon-item {
    background-color: #f4f4fd;
    height: 112px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    margin-bottom: 8px;
  }

  .about-us-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
  }

  .about-us-p {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: inherit;
  }
}

/* section Our Team */
.team-title {
  text-transform: capitalize;
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.team-title {
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 72px;
}

.our-team {
  background-color: #f4f4fd;
  padding: 96px 0;
}

.team-item {
  background-color: #ffff;
  max-width: 264px;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.team-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px 0;
  text-align: center;
}

.team-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  color: #2e2f42;
}

.team-position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: inherit;
  margin-bottom: 8px;
}

.social-links {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 8px;
}

.social-link a {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: center;
  background-color: #4d5ae5;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.social-link-team .social-icon {
  fill: #f4f4fd;
}

@media (min-width: 768px) and (max-width: 1157px) {
  .team-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 24px;
    row-gap: 64px;
    flex-wrap: wrap;
    margin: 0 auto;
  }

  .our-team {
    padding: 96px 0;
  }

  .team-item {
    flex-basis: calc((100% - 24px) / 2);
    max-width: 264px;
  }
}

@media screen and (min-width: 1158px) {
  .team-list {
    display: flex;
    flex-direction: row;
    gap: 24px;
    justify-content: center;
  }

  .our-team {
    padding: 120px 0;
  }

  .team-item {
    width: calc((100% - 72px) / 4);
  }

  .social-link a {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .social-link a:hover,
  .social-link a:focus {
    background-color: #404bbf;
  }
}

/* section Portfolio */
.portfolio-section {
  padding-top: 96px;
  padding-bottom: 96px;
}

.portfolio-title {
  margin-bottom: 72px;
}

.portfolio-item {
  max-width: 288px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-block {
  position: relative;
  overflow: hidden;
}

.portfolio-list {
  display: flex;
  flex-direction: column;
  gap: 48px;
  align-items: center;
}

.portfolio-block .overlay {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  opacity: 0;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:focus .overlay {
  opacity: 1;
  transform: translateY(0);
}

.portfolio-item:focus {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.app-card {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  color: #2e2f42;
}

.portfolio-name-desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: inherit;
}

.portfolio-title {
  text-transform: capitalize;
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

@media (min-width: 768px) and (max-width: 1157px) {
  .portfolio-section {
    padding-top: 96px;
    padding-bottom: 96px;
  }

  .portfolio-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
  }

  .portfolio-item {
    flex-basis: calc((100% - 24px) / 2);
    max-width: 356px;
  }
}

@media screen and (min-width: 1158px) {
  .portfolio-section {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .portfolio-item {
    flex-basis: calc((100% - 48px) / 3);
    max-width: 360px;
  }

  .portfolio-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
  }

  .portfolio-item:hover .overlay {
    opacity: 1;
    transform: translateY(0);
  }

  .portfolio-item:hover {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16),
      0 1px 6px 0 rgba(46, 47, 66, 0.08);
  }
}

/* Footer */

.logo-part-footer {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
}

.footer {
  background-color: #2e2f42;
  padding: 96px 0;
}

.footer-one {
  margin-bottom: 72px;
  text-align: center;
}

.footer-p {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 288px;
  text-align: justify;
  margin-top: 16px;
}

.footer-two {
  margin-bottom: 72px;
  text-align: center;
}

.social-links-f {
  display: flex;
  gap: 16px;
  justify-content: center;
  align-items: center;
}

.footer-p-two {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}

.social-link-f .footer-link-f {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: center;
  background-color: #4d5ae5;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.social-icon-f {
  fill: #f4f4fd;
}

.footer-three {
  text-align: center;
}

.footer-label {
  display: block;
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
}

.subscribe-input {
  padding: 8px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  width: 288px;
  height: 40px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: transparent;
  outline: none;
  margin-bottom: 16px;
  color: #fff;
}

.subscribe-input::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe-button {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 24px;
  border-radius: 4px;
  max-width: 165px;
  height: 40px;
  background-color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  border: none;
  box-shadow: none;
  outline: none;
  cursor: pointer;
}

.social-icon-submit {
  fill: #fff;
  margin-left: 16px;
}

@media screen and (min-width: 768px) and (max-width: 1157px) {
  .footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-left: 108px;
  }

  .footer-one {
    margin: 0 24px 72px 0;
    text-align: left;
  }

  .footer-p {
    max-width: 264px;
  }

  .footer-two {
    text-align: left;
  }

  .footer-label {
    text-align: left;
  }

  .subscribe-form {
    display: flex;
    gap: 24px;
    align-items: center;
  }

  .subscribe-input {
    width: 264px;
    height: 40px;
    margin: 0;
  }

  .subscribe-button {
    margin: 0;
  }
}

@media screen and (min-width: 1158px) {
  .footer {
    padding: 100px 0;
  }

  .footer-container {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
  }

  .footer-one {
    margin: 0 120px 0 0;
    text-align: left;
  }

  .footer-p {
    max-width: 264px;
  }

  .footer-two {
    margin: 0 80px 0 0;
    text-align: left;
  }

  .footer-label {
    text-align: left;
  }

  .social-link-f .footer-link-f {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .social-link-f a:hover,
  .social-link-f a:focus {
    background-color: #31d0aa;
  }

  .subscribe-form {
    display: flex;
    gap: 24px;
    align-items: center;
  }

  .subscribe-input {
    width: 264px;
    height: 40px;
    border: 1px solid #fff;
    margin: 0;
  }

  .subscribe-input::placeholder {
    color: #fff;
  }

  .subscribe-button {
    margin: 0;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  z-index: 9999999;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
  visibility: visible;
  pointer-events: auto;
  opacity: 1;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 4px;
  width: 288px;
  min-height: 623px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background: #fcfcfc;
  padding: 72px 16px 24px 16px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  top: 24px;
  right: 24px;
  border-radius: 50%;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 24px;
  height: 24px;
  stroke-width: 1px;
  fill: #2e2f42;
  padding: 0;
  line-height: 0;
}

.modal-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
}

.modal-form-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
}

.modal-cont-input {
  position: relative;
}

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 256px;
  padding-left: 34px;
  outline: none;
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
  border-color: #4d5ae5;
}

.modal-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus + .modal-icon {
  fill: #4d5ae5;
}

.form-wrraper-container {
  margin-bottom: 8px;
}

.form-wrraper-cont-comment {
  margin-bottom: 16px;
}

.modal-textarea {
  width: 256px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  outline: transparent;
  background-color: transparent;
  color: #8e8f99;
  opacity: 0.5;
  resize: none;
  display: block;
  padding: 8px 16px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea:focus {
  border-color: #4d5ae5;
}

.modal-cont-checkbox {
  margin-bottom: 24px;
}

.custom-checkbox {
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  width: 16px;
  height: 16px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-right: 8px;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.custom-label-checkbox {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  cursor: pointer;
}

.privacy-policy {
  line-height: 1.33;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4d5ae5;
}

.checkbox:checked + .custom-label-checkbox > .custom-checkbox {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.button-submit-modal {
  border-radius: 4px;
  min-width: 169px;
  height: 56px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border: none;
  text-align: center;
  color: #fff;
  margin: 0 auto;
  display: block;
  cursor: pointer;
}

@media screen and (min-width: 768px) and (max-width: 1157px) {
  .modal {
    width: 408px;
    min-height: 584px;
    padding: 72px 24px 24px 24px;
  }

  .modal-input {
    height: 40px;
    width: 360px;
  }

  .modal-textarea {
    width: 360px;
    height: 120px;
  }
}

@media screen and (min-width: 1158px) {
  .modal {
    width: 408px;
    min-height: 584px;
    padding: 72px 24px 24px 24px;
  }

  .modal-input {
    height: 40px;
    width: 360px;
    padding-left: 38px;
  }

  .modal-textarea {
    width: 360px;
    height: 120px;
  }

  .modal-close-btn {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .modal-close-btn:hover,
  .modal-close-btn:focus {
    background-color: #404bbf;
    border: none;
  }

  .close-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .modal-close-btn:hover .close-icon,
  .modal-close-btn:focus .close-icon {
    fill: #ffffff;
  }
}
